* {
    -fx-gray-50: #f9fafb;
    -fx-gray-100: #f3f4f6;
    -fx-gray-200: #e5e7eb;
    -fx-gray-300: #d1d5db;
    -fx-gray-400: #9ca3af;
    -fx-gray-500: #6b7280;
    -fx-gray-600: #4b5563;
    -fx-gray-700: #374151;
    -fx-gray-800: #1f2937;
    -fx-gray-900: #111827;
}