* {
    -fx-font-family: "Poppins";
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-gray-200;
}

.tab-pane *.tab-content-area {
    -fx-padding: 5px 0 0 0;
}

.tab-pane *.tab {
    -fx-background-color: "white";
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.tab-pane *.add-tab {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -fx-gray-400;
    -fx-border-radius: 5px;
    -fx-end-margin: 1px;
    -fx-font-size: 16px;
}

.tab-pane *.tab:selected {
    -fx-border-color: -fx-gray-600;
}

.tab-pane *.tab:selected .focus-indicator {
    -fx-border-style: hidden;
}

.settings-pane *.tab {
    -fx-background-color: -fx-blue-50;
    -fx-cursor: hand;
}

.settings-pane *.tab-header-background {
    -fx-background-color: -fx-blue-400;
}

.settings-pane *.tab:selected {
    -fx-border-color: -fx-blue-600;
    -fx-background-color: -fx-blue-200;
}

.settings-tab {
    -fx-padding: 30px 70px;
    -fx-font-size: 16px;
}

.settings-tab .settings-side {
    -fx-padding: 10px 30px;
}

.settings-tab *.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.settings-tab .settings-left {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 2px;
    -fx-border-color: -fx-gray-600;
}

.settings-tab .settings-side *.settings .text-field {
}


#split-page *.left-side .title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#split-page *.left-side {
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 2px;
    -fx-border-color: -fx-gray-300;
}

.text-field, .combo-box {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-border-color: -fx-gray-500;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: -fx-gray-800;
}

.text-field {
    -fx-display-caret: true;
}

.text-field.normal-disabled:disabled {
    -fx-text-fill: black;
}

.form-group-label {
    -fx-font-weight: bold;
}

.form-group {
    -fx-padding: 8px 0;
}

.label.history-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.label.info-user-history {
    -fx-font-size: 12px;
}

.button {
    -fx-cursor: hand;
}

.btn-primary {
    -fx-background-color: -fx-blue-600;
}

.btn-primary:hover {
    -fx-background-color: -fx-blue-400;
}

.btn-primary:pressed {
    -fx-background-color: -fx-blue-700;
}

.btn-success {
    -fx-background-color: -fx-green-600;
    -fx-text-fill: white;
}

.btn-success:hover {
    -fx-background-color: -fx-green-500;
}

.btn-success:pressed {
    -fx-background-color: -fx-green-700;
}