#tab-pane:top *.tab-header-background {
    -fx-background-color: "white";
}

#tab-pane:top {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color: -fx-gray-500;
}

#tab-pane:top *.tab {
    -fx-background-color: "white";
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

#tab-pane:top *.add-tab {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -fx-gray-400;
    -fx-border-radius: 5px;
    -fx-end-margin: 1px;
    -fx-font-size: 16px;
}

#tab-pane:top *.tab:selected {
    -fx-border-color: -fx-gray-600;
}

#tab-pane:top *.tab:selected .focus-indicator {
    -fx-border-style: hidden;
}

